[run]
source = users, habits, telegram_bot
omit =
    */migrations/*
    */tests.py
    */admin.py
    */apps.py
    */__init__.py
    */management/*
    config/*
    manage.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if __name__ == .__main__.
    raise NotImplementedError
    @property
    @cached_property

show_missing = True
precision = 2